@charset "utf-8";
@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    
}
/* margin, padding은 전체 선택자에 줘야한다 */
*{
    margin: 0;
    padding: 0;
}

html, body{
    font-family: 'HakgyoansimWoojuR';
    color: black;
    /* width: 100%; 얘네한테 100%줘야 전체 쓸 수 있다 */
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;

}
/* 크기조절버튼, 상품명, 검색 */
.header{
    width: 100%;
    height: 10%;
    background-color: rgb(255, 242, 239);
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    font-size: 1.2rem;
    font-weight: bold;

}
.glass{
    /* background-color: #240a0a; */
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 15%;
    height: 50%;

}
.plus{
    border-radius: 10px 0 0 10px;
    background-color: #ffeeee;
    border: 0.8px solid gray;
    width: 100%;
    font-size: 1.2rem;

}
.minus{
    border-radius: 0 10px 10px 0;
    background-color: rgb(255, 184, 160);
    border: 0.8px solid gray;
    width: 100%;
    font-size: 1.2rem;
    
}




/* 상품 이미지 */
.m-img{
    width: 100%;
    /* background-color: #240a0a; */
    display: flex;
    flex-direction: row; /*가로*/
    justify-content: center;/*축방향으로*/
    align-items: center;

    height: 30%;
}
.m-img > img{
    width: auto;
    height: 100%;

}

/* 즐겨찾기 및 가격 */
.middle{
    width:100% ;
    height: 15%;
    background-color: rgb(255, 242, 239);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.star{
    width: 35%;
    height: 60px;
    position: relative;
    left: 20px;
    border-radius: 20px;
    border-style: none;
    font-size: 1.2rem;
    font-family: 'HakgyoansimWoojuR';
    font-weight: bold;
    background-color: rgb(255, 184, 160);
    letter-spacing: 2px;
}
.middle-info{
    /* background-color: #666; */

    width: 50%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.middle-info > p{
    margin-right: 50px;
    /* background-color: #666; */
    font-size: 1.1rem;
    
}
.middle-info2{
    /* background-color: aqua; */
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

}
.middle-info2 > p{
    margin-right: 50px;
    font-weight: 700;
}

/* 상품설명 및 별점*/

.tap_box{
    width: 100%;
    height: 45%;
    /* background-color: #666; */
    overflow: hidden;
} 
.tap{
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
}
.tap>li{
    float: left;
    width: 100%;
    height: 16%;
    position: relative;
    list-style: none;
}
.tap>li:nth-of-type(1){
    border-right: none;
}
.tap>li>a{
    display: block;
    width: 50%;
    height: 40px;
    background-color: rgb(253, 253, 253);
    /* border: solid 0.3px #969696; */
    text-align: center;
    line-height: 30px;
    border-radius: 6px;
}
.tap>li>a:hover{
    background-color: #ffffff;
}

.notice, .gallery{
    position: absolute;
    border: solid 0.5px #939393;
    /* background-color: rgb(112, 134, 198); */
    width: 100%;
    border-radius: 6px;
}
.wrap{
    position: absolute;
    top: -37px;
}
.gallery-a{
    position: relative;
    left: 50%;
}

.notice>ul, .gallery>ul{
    width: 100%;
    height: 200px;
}
.gallery{
    background-color: #ffe8e8;
    width: 100%;
    height: auto;
}
.notice>ul>li{
    margin-top: 15px;
    margin-left: 10px;
    width: 400px;
    height: 30px;
    list-style: none;
}
.notice>ul>li>a:hover{
    color: #666;
    text-decoration: underline 1px;
}
.gallery>ul>li{
    margin-top: 15px;
    margin-left: 10px;
    width: 400px;
    height: 30px;
    list-style: none;
}
.gallery>ul>li>a{
    display: block;
    width: 100%; height: 100px;
    background-color: rgb(255, 247, 90);
}
.gallery>ul>li>a:hover{
    transition: 0.3s;
    opacity: 0.7;
    transform: scale(101%);
}
.tap>li.active>a{
    background-color: #fff;
}
.tap>li.active div{
    background-color: #ffffff;
    z-index: 2;
}
/* 수량확인 */
.num{
    background-color: #e2e2e2;
    width: 100%;
    height: 10%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
}
.num>P{
    width: 30%;
    height: 80%;
    /* background-color: #ffe8e8; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;

}

.updown{
    width: 60%;
    height: 80%;
    /* background-color: #cf3f3f; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.p_num{
    padding-left: 10px;
    border-style: none;
    height: 30px;
    width: 80px;
    border-radius: 6px;
}
.circle{
    border-radius: 30px;
    width: 35px;
    height: 35px;
    margin: 0 30px;
    border-style: none;
    font-size: 1.2rem;

}

/* 장바구니, 결제하기 버튼 */
.bottom{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: cadetblue; */
}

.cartBtn{
    /* background-color: aqua; */
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.cartBtn > button{
    width: 80%;
    background-color: #ffe8e8;
    border-radius: 8px;
    border-style: none;
    
}

.buyBtn{
    /* background-color: rgb(255, 255, 255); */
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.buyBtn > button{
    width: 80%;
    background-color: rgb(255, 184, 160);
    border-radius: 8px;
    border-style: none;
}
.font{
    font-family: 'HakgyoansimWoojuR';   
    font-size: 1.3rem;
    font-weight: bolder;
}

@media screen and (min-width:1200px){
    html{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    body{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* background-color: aqua; */
    }
}