@charset "utf-8";

@font-face {
  font-family: 'HakgyoansimWoojuR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html,body {
  font-family: 'HakgyoansimWoojuR';
  width: 100%;
  height: 100%;
  
}

body {
  color: #2A343D;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8%;
} 

.name, .pw  {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #2A343D solid 1px;
  margin: 0 auto;
  
}

.name {
  padding: 2%;
  width: 76%;
}

.pw {
  padding-top: 2%;
  padding-bottom: 2%;
  width: 80%;
}

.name p, .pw p{
  font-size: 20px; /*%가 안딤*/
}

/*메인페이지 주소를 넣으면 a:visited 태그가 활성화*/
a:visited{
  color: #2A343D;
}

.change_pw {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 4%;
  font-size: 18px;
  
}


.change_pw_btn {
  text-decoration: none;
  
}

.btn_container {
  display: flex;
  border: 1px solid #2A343D;
  width: 15%;
  height: 5%;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
  padding: 0.8rem 2.4rem;
  background-color: #FFDEDE;
}

.start_btn, .login_btn {
  all: initial; /* 모든 스타일 초기화 */
  font-family: 'HakgyoansimWoojuR', sans-serif;
  color: #2A343D;
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}


/* 미디어 쿼리 데스크톱 화면에 대한 스타일 */
@media screen and (min-width: 1024px) {
  body {
    /*overflow: hidden; /* 스크롤 없애기 */
  }
  
  .name p, .pw p {
    font-size: 200%;
  }

  .change_pw {
    font-size: 200%;
  }

  .first {
    font-size: 200%;
  }

  .start_btn p, .login_btn p {
    font-size: 200%;
  }
}