@charset "utf-8";

@font-face {
  font-family: 'HakgyoansimWoojuR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html,body {
  font-family: 'HakgyoansimWoojuR';
  width: 100%;
  height: 100%;
}

/*상단 검색바, 로고*/
.logo{
  width: 20%;
  position: relative;
  left: 40%;
}
.search{
  width: 100%;
  height: 20%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.search form{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search form input{
  width: 75%;
  height: 90%;
  padding-left: 15px;
  border: 2px solid #FDAF96;
  border-radius: 20px;
  font-size: 0.6em;
}
.search form .btn{
  width: 20%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.btn button{
  background-color: #FDAF96;
  border: none;
  border-radius: 3px;
  width: 45%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
.btn button:nth-of-type(2){
  background-color: #FFF1DB;
}
.btn button img{
  width: 70%;
  max-width: 30px;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*카테고리 버튼 3개*/

.btn_container{
  display: flex;
  position: relative;
  
}
button{
  background: transparent;
  background-color: #FFF1DB;
  border: none;
  cursor: pointer;
  font-family: 'HakgyoansimWoojuR';
}

.popularity{
  top: 50%;
  border: #e2dcd6 solid 3px;
  border-radius: 20px;
  padding: 3%;
  /*position: relative;*/
  background-color: #FFF1DB;
  transition: background-color 0.3s ease; /* 호버 부드럽게 설정 */
  position: relative;
  left: 20%;
}

.fastest{
  top: 50%;
  border: #e2dcd6 solid 3px;
  border-radius: 20px;
  padding: 3%;
  /*position: relative;*/
  background-color: #FFF1DB;
  transition: background-color 0.3s ease;  /*호버 부드럽게 설정 */
  position: relative;
  left: 32%;

}

.cheap{
  top: 50%;
  border: #e2dcd6 solid 3px;
  border-radius: 20px;
  padding: 3%;
  /*position: relative;*/
  background-color: #FFF1DB;
  transition: background-color 0.3s ease; /* 호버 부드럽게 설정 */
  position: relative;
  left: 44%;

}


/*상품 이미지, 소개*/
.product_container{
  display: flex;
  position: relative;
  flex-direction: column;
}

.product_1{
  background-color: #FFF1DB;
  position: relative;
  margin: 8% 14% 2% 14%;
  min-height: 150px;
}

.product_2{
  background-color: #FFF1DB;
  position: relative;
  margin: 2% 14% 2% 14%;
  min-height: 150px;
}

.product_3{
  background-color: #FFF1DB;
  position: relative;
  margin: 2% 14% 2% 14%;
  min-height: 150px;
}

.product_4{
  background-color: #FFF1DB;
  position: relative;
  margin: 2% 14% 2% 14%;
  min-height: 150px;
}

.star {
  position: relative;
  width: 4%;
  left: -60%;
}

/* 하단 버튼 두개 */

.to_btncontainer{
  display: flex;
  justify-content: center;
}

.toBookmark_btn{
  position: relative;
  top: 185%;
  left: -11%;
  border: #e2dcd6 solid 3px;
  border-radius: 20px;
  padding: 4%;
  font-size: 130%;
  background-color:#FFF1DB;
}

.toCart_btn{
  position: relative;
  top: 185%;
  left: 11%;
  border: #e2dcd6 solid 3px;
  border-radius: 20px;
  padding: 4%;
  font-size: 130%;
  background-color:#FFF1DB;
}

