<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>댓글, 별점 페이지</title>
  <link rel="stylesheet" href="../css/comment.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../js/comment.js"></script>
</head>
<body>
  <!--로고-->
  <div class="logo">
    <a href="../html/main.html"><img src="../image/logo.png" width="400px"></a>
  </div>
  <!--별점 및 댓글 텍스트-->
  <div class="title">
    <p><b>별점 및 댓글</b></p>
  </div>
  <!--별점 줄 상품-->
  <div class="productContainer">
    <div class="image">
     <img src="../image/product_grape.jpg" width="250px">
    </div>
    <div class="text">
      <p>산지직송 포도</p>
      <p>2개</p>
    </div>
  </div>
  <!--메인 박스-->
  <div class="bigContainer">
    <!--별점-->
    <div class="starContainer">
      <img src="../image/star.png" class="star1">
      <img src="../image/star.png" class="star2">
      <img src="../image/star.png" class="star3">
      <img src="../image/star.png" class="star4">
      <img src="../image/star.png" class="star5">
    </div>
    <!--댓글-->
    <div class="comment" >
      <form>
        <textarea id="textBox" style="height:300px; resize: none;" maxlength="200" placeholder="텍스트를 입력하세요." ></textarea>
      </form>
      <div class="textLengthWrap">
        <p class="textCount">0자</p>
        <p class="textTotal">/200자</p>
      </div>
    </div>
  </div>
  <!--제출하는 버튼-->
  <div class="submitContainer">
    <form>
      <button type="submit">완료</button>
    </form>
  </div>
</body>
</html>