@charset "utf-8";
@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 전체 태그들의 마진, 패딩 초기화 및 글꼴 설정 */
* {
    margin: 0;
    padding: 0;
    font-family: 'HakgyoansimWoojuR';
    font-size: 22px;
    color: #2A343D;
}

html,body {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

/* 검색창,로고 */
.logo{
  display: block;
  margin: 0 auto;
}

.search{
  width: 100%;
  height: 20%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search form{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search form input{
  width: 75%;
  height: 90%;
  padding-left: 15px;
  border: 2px solid #FDAF96;
  border-radius: 20px;
  font-size: 0.6em;
}

.search form .btn{
  width: 20%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btn button{
  background-color: #FDAF96;
  border: none;
  border-radius: 3px;
  width: 45%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.btn button:nth-of-type(2){
  background-color: #FFF1DB;
}

.btn button img{
  width: 70%;
  max-width: 30px;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 메인부분 */
.basketdiv {
  width: 100%;
  border-top: 1px solid #e0e0e0;
  float: left;
  font-size: 0.9375em;
  margin-bottom: 20px;
}

/*상품 구분선*/
.basketdiv .data {
  border-bottom: 1px dashed #888;
  box-sizing: border-box;
  cursor: pointer;
  float: left;
  width: 100%;
}

.basketdiv .data .empty{
  text-align: center;
  padding: 12px 0;
}

.basketdiv .row.head .subdiv {
  background-color: #FFDEDE;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 설정 */
}

.basketdiv .row > .subdiv {
  display: block;
  float: left;
}

.basketdiv .row > .subdiv:nth-child(1) {
  width: 50%;
}

.basketdiv .row > .subdiv:nth-child(2) {
  width: 40%;
}

.basketdiv .row > .subdiv:nth-child(3) {
  width: 10%;
}

.basketdiv .row.head .subdiv:nth-child(1) .pname{
position: relative;
left: 20%;
}

.basketdiv .row > div > div {
  display: block;
  float: left;
  text-align: center;
  margin: 0;
  padding: 12px 0;
}

.basketdiv .row.data > div > div {
  height: 60px;
  line-height: 60px;
}

.basketdiv .img{
  width: 20%;
}

.basketdiv .pname{
  width: 70%;
}

.basketdiv2 .pname {
  width: 80%;
}

.basketdiv .basketprice {
  width: 33%;
}

.abutton:link, .abutton:visited, .abutton:active {
  background-color: #FFF1DB;
  border: 1px solid #888888;
  color: #2A343D;
  cursor: pointer;
  letter-spacing: -1px;
  padding: 3px 5px;
  margin: 2px 3px;
  width: auto;
  word-break: keep-all;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.9375em;
}

.product-link {
  color: #2A343D;
  text-decoration: none;
}

.product-link:hover {
  text-decoration: none; /* 커서가 올라갔을 때 밑줄 제거 */
}