@charset "utf-8";
@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    
}
/* margin, padding은 전체 선택자에 줘야한다 */
*{
    margin: 0;
    padding: 0;
}

html, body{
    font-family: 'HakgyoansimWoojuR';
    color: black;
    /* width: 100%; 얘네한테 100%줘야 전체 쓸 수 있다 */
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;

}
/* 크기조절버튼, 상품명, 검색 */
.header{
    width: 100%;
    height: 10%;
    background-color: rgb(255, 242, 239);
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    font-size: 1.5rem;
    font-weight: bold;

}
.glass{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 15%;
    height: 50%;
}
.plus{
    border-radius: 10px 0 0 10px;
    background-color: #ffeeee;
    border: 0.8px solid gray;
    width: 100%;
    font-size: 1.2rem;
}
.minus{
    border-radius: 0 10px 10px 0;
    background-color: rgb(255, 184, 160);
    border: 0.8px solid gray;
    width: 100%;
    font-size: 1.2rem;

}
/* 상품 이미지 */
.m-img{
    width: 100%;
    /* background-color: #240a0a; */
    display: flex;
    flex-direction: row; /*가로*/
    justify-content: center;/*축방향으로*/
    align-items: center;

    height: 25%;
}
.m-img > img{
    width: auto;
    height: 100%;
}

/* 즐겨찾기 및 가격 */
.middle{
    width:100% ;
    height: 15%;
    background-color: rgb(255, 242, 239);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.star{
    width: 35%;
    height: 60px;
    position: relative;
    left: 20px;
    border-radius: 20px;
    border-style: none;
    font-size: 1.4rem;
    font-family: 'HakgyoansimWoojuR';
    font-weight: bold;
    background-color: rgb(255, 255, 246);
    letter-spacing: 2px;
    cursor: pointer;
}
.star:hover{
    background-color: rgb(253, 255, 126);
    transition: all 200ms ease;
}

.middle-info{
    /* background-color: #666; */

    width: 50%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.middle-info > p{
    margin-right: 50px;
    /* background-color: #666; */
    font-size: 1.34rem;
}
.basketprice{
    margin-right: 50px;
    /* background-color: #666; */
    font-size: 1.26rem;
    padding-top: 4px;
}
.middle-info2{
    /* background-color: aqua; */
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

}
.middle-info2 > p{
    margin-right: 50px;
    font-weight: 700;
    padding-top: 5px;
    font-size: 1.25rem;
}

/* 상품설명 및 별점*/
li {
    list-style: none;
}

.tab_menu {
    width: 100%;
    height: 45%;
}

.tab {
    display: flex;
    width: 100%;
    height: 20%;
}
.tab > li:hover{
    text-decoration: underline 1px;
    cursor: pointer;
}
/* 탭메뉴1,2 */
.tab_item {
    /* border: 1px solid rgb(255, 201, 180); */
    padding: 10px 20px;
    border-radius: 6px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1.2px;
}

.tab_inner_wrap {
    border-radius: 6px;
    height: 100%;
}
/* 설명 및 별점 */
.tab_inner {
    padding: 20px;
    color: black;
    font-size: 1.4rem;
    display: none;
    position: relative;
    top: 20px;
}
/* 탭메뉴1 */
.tab_item.active {
    background-color: rgb(255, 184, 160);
    color: black;
}
/* 탭메뉴1-설명 */
.tab_inner.active {
    /* border: 1px solid black; */
    display: block;
}

/* 별점 및 리뷰 */
.starPoint{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-size: 1.2rem;
    font-weight: bold;
}

.comment{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 10px;
    width: 100%;
}

.people{
    width: 6%;
}
.comment > p{
    width: 80%;
    margin-left: 10px;
}
.stars{
    width: 20%;
}
/* 수량확인 */
.num{
    background-color: #efefef;
    width: 100%;
    height: 10%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
}
.num>P{
    width: 30%;
    height: 80%;
    /* background-color: #ffe8e8; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 5px;
}

.updown{
    width: 60%;
    height: 80%;
    /* background-color: #cf3f3f; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.p_num{
    padding-left: 10px;
    border: 1px solid rgb(117, 117, 117);
    background-color: #ffffff;
    height: 30px;
    width: 80px;
    border-radius: 6px;
    text-align: center;
    padding-top: 7px;
    padding-right: 8px;
    font-size: 1.4rem;
}
.updown > img{
    border-radius: 30px;
    width: 30px;
    height: auto;
    margin: 0 30px;
    cursor: pointer;
}

/* 장바구니, 결제하기 버튼 */
.bottom{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: cadetblue; */
}

.cartBtn{
    /* background-color: aqua; */
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cartBtn > button{
    width: 80%;
    background-color: #ffe8e8;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
}
.cartBtn button:hover{
    background-color: hsl(0, 100%, 89%);
    transition: all 200ms ease;
}
.buyBtn button:hover{
    background-color: hsl(0, 100%, 89%);
    transition: all 200ms ease;
}

.buyBtn{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.buyBtn > button{
    width: 80%;
    background-color: rgb(255, 184, 160);
    border-radius: 8px;
    border-style: none;
    cursor: pointer;

}
.font{
    font-family: 'HakgyoansimWoojuR';   
    font-size: 1.3rem;
    font-weight: bolder;
}

@media screen and (min-width:1200px){
    html{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    body{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* background-color: aqua; */
    }
}