@charset "utf-8";

@font-face {
  font-family: 'HakgyoansimWoojuR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html,body {
  font-family: 'HakgyoansimWoojuR';
  width: 100%;
  height: 100%;
  background-color: #FDAF96;
  color: #2A343D;
  font-size:16px;
}

/*로고*/

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10%;
}

/*입력폼*/

form{
  width: 100%;
  height: 100%;
  font-size:16px;
  position: relative;
}

.name, .pw  {
  border-bottom: #2A343D solid 1px;
}

input{
  border: none;
  background: transparent;
  width: 40%;
 }

 input:focus{
   outline:none; /*인풋을 클릭했을 때 생기는 테두리 없앰*/
 }

 input::placeholder {
  font-family: 'HakgyoansimWoojuR';
  font-size: 18px;
}

.name{
  position: absolute;
  top: 23%;
  width: 50%;
  left: 25.5%;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  font-size: 142%; /* 원하는 폰트 크기로 변경하세요 */
}

.pw{
  position: absolute;
  top: 33%;
  width: 50%;
  left: 25.5%;
}

/*비밀번호 변경*/

.change_pw {
  position: absolute;
  top: 38%;
  left: 45.5%;
  text-decoration: none;
  font-size: 150%;
}

/*하단 버튼*/

a:visited{
  color: #2A343D; /*메인페이지 주소를 넣으면 a:visited 태그가 활성화*/
}

a:active{
  color: #fff;
 }

a:hover{
  color: #fff;
}

button{
  font-family: 'HakgyoansimWoojuR', sans-serif;
  color: #2A343D;
  background-color: transparent;
  cursor: pointer;
  border-radius: 15px;
  width: 21%;
}

button:active{
 color: #fff;
}

button:hover{
  color: #fff;
}

/*시작하기*/
.start{
  position: relative;
  top: 300px;
  left: 45.5%;
  font-size: 40px;
  text-decoration: none;
}

/*회원가입하기*/
.join{
  position: relative;
  top: 370px;
  left: 34.5%;
  font-size: 40px;
  text-decoration: none;
}

/*처음이신가요?*/
.first {
  position: relative;
  top: 320px;
  left: 46.5%;
  font-size: 20px;
  display: inline;
}

.joinContainer{
  position: relative;
}
/* 미디어 쿼리 데스크톱 화면에 대한 스타일 */
/*@media screen and (min-width: 1024px) {
  body {
    /*overflow: hidden; /* 스크롤 없애기 */
  /*}
  /*
  .name p, .pw p {
    font-size: 200%;
  }

  .change_pw {
    font-size: 200%;
  }

  .first {
    font-size: 200%;
  }

  .start_btn p, .login_btn p {
    font-size: 200%;
  }
}
*/