@charset "utf-8";
@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/*전체 태그들의 마진, 패딩 초기화 및 글꼴 설정*/
*{
    margin: 0;
    padding: 0;
    font-family: 'HakgyoansimWoojuR';
    font-size: 30px;
    color: #2A343D;
}
/*a, li태그 default deco 삭제*/
a{
    color: #2A343D;
    text-decoration: none;
}
li{
    list-style: none;
}
/*전체 화면 지정*/
html, body{
    width: 100%;
    height: 100%;
    min-height: 630px;
}
#wrap{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
/*헤더*/
header{
    width: 100%;
    height: 10%;
    /* color: ; */
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*메인 - 진행바, 결제과정, 다음버튼*/
main{
    width: 100%;
    height: 90%;
}
.statusBar{ /*결제 진행바, 틀만 작업*/
    width: 80%;
    max-width: 500px;
    height: 10%;
    margin: 0 auto;
    /* border: solid 1px #ddd; */
}
.steps{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: gray; */
    position: relative;
}
.steps .circle{
    width: 40px;
    height: 40px;
    border: 4px solid #e0e0e0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    font-weight: bold;
    color: #999;
    background-color: #fff;
    transition: all 200ms ease;
    transition-delay: 0s;
    cursor: default;
}
.steps .circle.active{
    border-color: #FDAF96;
    color: #FDAF96;
    transition-delay: 100ms;
    cursor: pointer;
}
.steps .progress-bar{
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #e0e0e0;
    z-index: -1;
    overflow: hidden;
}
.progress-bar .indicator{
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #FDAF96;
    transition: all 300ms ease;
}

.paymentList{
    width: 100%;
    max-width: 710px;
    min-width: 285px;
    margin: 0 auto;
    height: 73%;
    overflow: hidden;
}
.paymentList ul{
    width: 500%;
    height: 100%;
    position: relative;
    left: 0;
    transition: 0.8s;
}
.process{
    width: 20%;
    max-width: 710px;
    min-width: 285px;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.3s;
}
.process>span{
    font-size: 0.85em;
    width: 96%;
    height: auto;
    margin: 0 auto;
}
.process>div{
    width: 96%;
    height: 90%;
    margin: 0 auto;
    position: relative;
    top: 3%;
    background-color: #fff5f5;
    border-radius: 15px;
}
.checkSum span:nth-of-type(1){
    font-weight: bold;
    position: absolute;
    top: 3%;
    left: 3%;
}
.checkSum span:nth-of-type(2){
    position: absolute;
    top: 20%;
    right: 3%;
    color: rgb(57, 80, 255);
    font-size: 1.3em;
    font-weight: bold;
}
.payAgree span{
    position: absolute;
    width: 100%;
    margin: 0 auto;
    display: block;
}
.payAgree span:nth-of-type(1){
    font-size: 0.9em;
    text-align: center;
    top: 7%;
}
.payAgree span:nth-of-type(2){
    font-size: 0.75em;
    font-weight: bold;
    text-align: center;
    opacity: 0.9;
    top: 30%;
}
.payAgree label{
    width: 40%;
    height: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 0.9em;
    line-height: 150%;
}
.payAgree label input{
    width: 20%;
    height: 70%;
    border: none;
}
.nextBtn{
    width: 60%;
    max-width: 510px;
    height: 10%;
    position: relative;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9em;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    background-color: #FFDEDE;
    color: #FDAF96;
    transition: 0.5s;
    cursor: pointer;
}
.nextBtn:hover{
    background-color: #ffcdc4;
}
.nextBtn:active{
    transition: none;
    box-shadow: 1px 1px 4px 2.5px rgba(100, 100, 100, 0.3) inset;
}
/* 배송지 입력 */
.mainBox{
    width: 100%;
    height: 90%;
    background-color: #fff9f9;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
.first{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: blueviolet; */
}
.first > button{
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border-style: none;
    font-size: 0.9rem;
    position: relative;
    right: 3%;
    background-color: #e7e7e7;
    cursor: pointer;
}
.first >p{
    position: relative;
    left: 3%;
    font-weight: bold;
}
.second{
    width: auto;
    height: 30%;
    /* background-color: rgb(212, 246, 235); */
    border-bottom:1px solid #abb4bb;
}
.second P{
    position: relative;
    top: 15%;
    left: 3%;
    padding: 5px;
}
.third{
    width: auto;
    height: 55%;
    /* background-color: #ffcdc4; */
    display: flex;
    flex-direction: column;

}
.third label{
    position: relative;
    top: 20%;
    left: 3%;
    font-weight:bold ;
    font-size: 0.8rem;
}
.dropdown{
    position: relative;
    top: 30%;
    left: 3%;
    width: 90%;
    height: 50px;
    border-radius: 6px;
    border: 0.5px solid #e0e0e0;
    cursor: pointer;
    padding: 0 30px 0 10px;
    font-size: 0.9rem;
    /* 화살표 크기,색 변경 */
    -webkit-appearance: none; /*크롬,사파리에서 화사표 없애기*/
    appearance: none;
    background: url('../image/Group\ 8797.png') no-repeat 97% 50%/25px auto;
    background-color: #fffbfb;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown::-ms-expand{
    display: none;
}

/* 주문목록 */
.pr2{
    width: 100%;
    height: 90%;
}
.dropbtn2 {
    font-family: 'HakgyoansimWoojuR';
    background-color: #efefef;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 15%;
    text-align: left;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* Dropdown button on hover & focus */
.dropbtn2:hover, .dropbtn2:focus {
    background-color: #ffe8e5;
}

/* The container <div> - needed to position the dropdown content */
.dropdown2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.wrap{
    width: 100%;
    height: 100%;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    width: 100%;
    height: 90%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow: scroll;
}

.dropdown-content::-webkit-scrollbar{
    width: 5px;
}
.dropdown-content::-webkit-scrollbar-thumb {
    height: 10%; /* 스크롤바의 길이 */
    background: #ffccba; /* 스크롤바의 색상 */

    border-radius: 10px;
}

.dropdown-content::-webkit-scrollbar-track {
    background: rgba(25, 121, 255, 0.1);  /*스크롤바 뒷 배경 색상*/
}
.product{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    padding: 10px 0;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.dropdown-content a p{
    position: relative;
    left: 5%;
}
.dropdown-content a p:nth-of-type(2), .dropdown-content a p:nth-of-type(3){
    font-size: 0.9em;
}
.dropdown-content a p:nth-of-type(3){
    color: #1683ff;
    font-weight: bold;
}
.dropdown-content img{
    width: 160px;
    height: auto;
    display: inline-block;
}
/* Change color of dropdown links on hover */
.product a:hover {background-color: #fff9f9}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/*결제 방법 선택 버튼*/
.order-form{
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.order-form button{
    width: 100%;
    height: 20%;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}
.inicis_pay{
    background-color: #ff8060;
    color: #fff;
}
.kakao_pay{
    background-color: #FEE500;
    color: #191919;
}
#success-modal{
    width: 350px;
    height: 600px;
    background-color: #ffe7df;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
}
.modal-title{
    width: 200px;
    height: 140px;
    position: relative;
    top: 25px;
    left: 75px;
}
.modal-title img{
    display: block;
    width: 90px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
.modal-title span{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    position: absolute;
    bottom: 0;
}
#success-modal .content{
    width: 300px;
    height: 350px;
    position: absolute;
    top: 180px;
    left: 25px;
    border-radius: 15px;
    background-color: #fff2ef;
}
.content{
    font-size: 0.9em;
    text-align: center;
    font-weight: bold;
}
.content .slide{
    width: 200px;
    height: 100px;
    margin: 25% auto;
    position: relative;
    overflow: hidden;
}
.slide img{
    position: absolute;
    top: 0;
    left: 0;
}
.slide .list{
    width: 200px;
    height: auto;
    position: absolute;
    top: 0;
}
.list li{
    height: 40px;
    font-size: 1em;
    font-weight: lighter;
    text-align: center;
    line-height: 40px;
}
.animate{
    transition: 2s;
}
#success-modal button{
    width: 60%;
    max-width: 510px;
    height: 50px;
    position: absolute;
    bottom: 1.5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9em;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    background-color: #FDAF96;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}
#success-modal button:active{
    transition: none;
    box-shadow: 1px 1px 4px 2.5px rgba(100, 100, 100, 0.3) inset;
}
.hidden{
    display: none;
}