@charset "utf-8";

@font-face {
  font-family: 'HakgyoansimWoojuR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'HakgyoansimWoojuR';
  color: #2A343D;
}
html,body {
  width: 100%;
  height: 100%;
}

/*상단 검색바, 로고*/
.logo{
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.search{
  width: 100%;
  height: 6%;
  position: relative;
}
.search form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.search form input{
  width: 75%;
  height: 100%;
  padding-left: 15px;
  border: 2px solid #FDAF96;
  border-radius: 20px;
  font-size: 0.6em;
}
.search form .btn{
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.btn button{
  background-color: #FDAF96;
  border: none;
  border-radius: 3px;
  width: 45%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.btn button:nth-of-type(2){
  background-color: #FFF1DB;
}

.btn button img{
  width: 70%;
  max-width: 30px;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*상단 카테고리 버튼 3개*/

.btn_container{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn_container button, .to_btncontainer button{
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
}

.popularity{
  height: 20%;
  width: 20%;
  border-radius: 20px;
  padding: 3%;
  background-color: #FFF1DB;
  transition: background-color 0.3s ease; /* 호버 부드럽게 설정 */
  position: relative;
  text-align: center;
}

.fastest{
  height: 20%;
  width: 20%;

  border-radius: 20px;
  padding: 3%;
  position: relative;
  background-color: #FFF1DB;
  transition: background-color 0.3s ease;  /*호버 부드럽게 설정 */
  position: relative;
  text-align: center;
}

.cheap{
  height: 20%;
  width: 20%;
  border-radius: 20px;
  padding: 3%;
  position: relative;
  background-color: #FFF1DB;
  transition: background-color 0.3s ease; /* 호버 부드럽게 설정 */
  position: relative;
  text-align: center;
}


/*상품 이미지, 소개*/
.product_container{
  width: 80%;
  height: 60%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  left: 40px;
}
.product_container::-webkit-scrollbar{
  width: 5px;
}
.product_container::-webkit-scrollbar-thumb {
  height: 10%; /* 스크롤바의 길이 */
  background: #ffccba; /* 스크롤바의 색상 */
  border-radius: 10px;
}

.product_container::-webkit-scrollbar-track {
  background: rgba(25, 121, 255, 0.1);  /*스크롤바 뒷 배경 색상*/
}

.product_1 b, .product_2 b, .product_3 b, .product_4 b{
  margin: 3%;
}

/*포도*/
.product_1, .product_2, .product_3, .product_4{
  width: 70%;
  position: relative;
  margin: 10px 0;
  min-height: 90px;
  border-bottom: 1px solid #2A343D ;
  display: flex; /* 요소 내부의 요소들을 가로로 나열 */
  align-items: center; /* 수직 중앙 정렬 */
  padding: 20px; /* 내부 패딩 추가 */
  overflow: hidden;
}

.wrap{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 즐겨찾기 별*/
form > button{
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -40px;
  left: -8px;
  border-style: none;
  background-color: white;
}

.star{
  position: relative;
  width: 27px;
  height: 25px;
}
a img{
  width: 130px;
  height: auto;
}
/* 클릭 전 링크 스타일 */
a {
  text-decoration: none;
  color: #2A343D; /* 기본 링크 색상 (검정색) */
}
.title{
  width: 90%;
  height: 30%;
  font-weight: bold;
  font-size: 1.15rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.price{
  width: 90%;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.15rem;
}
/* 클릭한 후 링크 스타일 */
a:visited {
  color: #2A343D; /* 방문한 링크 색상 (검정색) */
}

/* 호버(마우스를 올렸을 때) 링크 스타일 */
a:hover {
  color: #2A343D;
}

/* 하단 버튼 두개 */

.to_btncontainer{
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 10px 0;
}

.toBookmark_btn{
  position: relative;
  width: 30%;
  border-radius: 15px;
  border: #e2dcd6 solid 1px;
  padding: 3%;
  font-size: 0.9em;
  background-color:#ffe74b;
  max-width: 400px;
}

.toCart_btn{
  position: relative;
  width: 30%;
  border: #e2dcd6 solid 1px;
  border-radius: 15px;
  padding: 3%;
  font-size: 0.9rem;
  background-color:#FDAF96;
  max-width: 400px;
}
@media (min-width: 1200px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product_container {
    width: 60%; /* 조정 가능 */
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .to_btncontainer {
    width: 60%; /* 조정 가능 */
    height: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .search{
    width: 70%;
  }
  .btn_container{
    height: 20%;
    width: 70%;
  }
  .btn_container > div{
    height: 20px;
  }

}