@charset "utf-8";

@font-face {
  font-family: 'HakgyoansimWoojuR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'HakgyoansimWoojuR';
  color: #2A343D;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
a{
  display: block;
  text-decoration: none;
  color: #2A343D;
}
li{
  list-style: none;
}
html, body{
  width: 100%;
  height: 100%;
}
#wrap{
  margin: 0 auto;
  width: 90%;
  height: 100%;
}
header{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}
header a{
  height: 100%;
}
header a img{
  height: 100%;
  text-align: center;
}
main{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .info{
  width: 100%;
  height: 20%;
  position: relative;
}
.hello{
  width: 70%;
  height: 50%;
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  color: #4f5c67;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
}
.hello .nickname{
  font-size: 1.3em;
  font-weight: bold;
}
.info-mdf-btn{
  width: 50%;
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
  border: none;
  border-radius: 20px;
  font-size: 1.1em;
  background-color: #FDAF96;
  transition: 0.2s;
}
.info-mdf-btn:hover{
  filter: drop-shadow(1px 1px 2px #aaa);
}
.info-mdf-btn:active{
  filter: none;
  background-color: #ed987c;
  box-shadow: 1px 1px 2px 2px rgba(100, 100, 100, 0.2) inset;
}
main .record{
  width: 100%;
  height: 80%;
  position: relative;
}
.record>span{
  width: 50%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%);
}
.record>ul{
  width: 100%;
  height: 75%;
  position: absolute;
  overflow: auto;
  bottom: 5%;
}
.record .list{
  width: 100%;
  height: 150px;
  position: relative;
  border-bottom: solid 1px #f0f0f0;
  margin-bottom: 15px;
}
.list .review{
  position: absolute;
  width: 100%;
  height: 100%;
}
.review .review-title{
  font-size: 1.4em;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 2%;
}
.score{
  width: 200px;
  height: 25px;
  /* background-color: #4f5c67; */
  position: absolute;
  top: 15px;
  left: 70px;
}
.star {
  border-radius: 6px;
  float: left;
  position: relative;
  display: block;
  color: #ffe74b;
  width: 0px;
  height: 0px;
  border-right: 20px solid transparent;
  border-bottom: 10px solid #ffe74b;
  border-left: 20px solid transparent;
  transform: rotate(35deg);
}
.star:before {
  border-radius: 6px;
  border-bottom: 20px solid #ffe74b;
  border-left: 8px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -12px;
  left: -12px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
.star:after {
  border-radius: 6px;
  position: absolute;
  display: block;
  color: #ffe74b;
  top: 1px;
  left: -20px;
  width: 0px;
  height: 0px;
  border-right: 20px solid transparent;
  border-bottom: 10px solid #ffe74b;
  border-left: 20px solid transparent;
  transform: rotate(-70deg);
  content: '';
}
.review .review-text{
  width: 80%;
  height: 70%;
  font-size: 1.1em;
  line-height: 180%;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: absolute;
  bottom: 2%;
  left: 2%;
}
.list .modify-btn{
  width: 10%;
  height: 30%;
  border: none;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  right: 1%;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  transition: 0.2s;
}
.modify-btn:hover{
  filter: drop-shadow(1px 1px 2px #aaa);
}
.modify-btn:active{
  filter: none;
  background-color: #dadada;
  box-shadow: 1px 1px 2px 2px rgba(100, 100, 100, 0.2) inset;
}
footer{
  width: 100%;
  height: 10%;
  position: relative;
}
footer button{
  width: 20%;
  height: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.2em;
  opacity: 0.6;
  background-color: antiquewhite;
  cursor: pointer;
  transition: 1s;
}
footer button:hover{
  opacity: 1;
}