<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인 페이지</title>
  <link rel="stylesheet" href="{% static 'css/login_page.css' %}">
</head>
<body>
{% block content %}
  <!--로고-->
  <div class="logo">
    <img src="{% static 'image/login_logo.png' %}" alt="login_logo" width="25%">
  </div>
  <!--입력폼-->
  <form method="post" action="{% url 'accounts:login' %}" enctype="multipart/form-data">
    {% csrf_token %}
<!--    {% include 'accounts/login_errors.html' %}-->
    <div class="name">
      <input type="text" placeholder="전화번호를 입력하세요" id="name" name="username" value="{{form.phonenum.value|default_if_none:''}}">
    </div>
    <div class="pw">
      <input type="password" placeholder="비밀번호를 입력하세요" id="password" name="password" value="{{form.password.value|default_if_none:''}}">
    </div>
    <!--비밀번호 변경-->
    <a href="/" class="change_pw">비밀번호 변경</a>
    <!--하단 버튼-->
    <button class="start_btn">시작하기</button>
    <div class="first">처음이신가요?</div>
    <div class="join_btn"><a href="{% url 'accounts:signup' %}">회원가입하기</a></div>
  </form>
{% endblock %}
</body>
</html>