<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/setting.css' %}" rel="stylesheet" type="text/css">
  <script src="{% static 'js/setting.js' %}" defer type="text/javascript"></script>
  <title>설정</title>
    {% block content %}
</head>
<body>
  <div id="wrap">
    <header>
      <a href="{% url 'shop:main' %}"><img src="{% static 'image/logo.png' %}"></a>
    </header>
    <main>
      <div class="info">
        <span class="hello">
          <span class="nickname">{{ request.user.nickname }}</span> 님 안녕하세요!
        </span>
        <a href="#"><button class="info-mdf-btn" type="submit">회원정보 수정하기</button></a>
      </div>
      <div class="record">
        <span>작성한 리뷰</span>
        <ul>
             {% for comment in user_comments %}
          <li class="list">
            <div class="review">
              <span class="review-title">포도</span>
              <div class="score">
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
              </div>
              <div class="review-text">
                {{comment.text}}
              </div>
            </div>
            <a href="#"><button class="modify-btn" type="submit">수정</button></a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </main>
    <footer>
      <a href="{% url 'accounts:logout' %}"><button type="submit">로그아웃</button></a>
    </footer>
  </div>
{% endblock %}
</body>
</html>