<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>곰살마트 : 회원가입</title>
    <link rel="stylesheet" href="{% static 'css/signUp.css' %}">
    {% block content %}
</head>
<body>
    <script src="{% static 'js/signUp.js' %}"></script>


    <nav class="logo">
        <img src="{% static 'image/곰살페이지로고.png' %}" alt="logo" href="{% url 'shop:main' %}">
    </nav>

  

    <form class="signUp" name="formcheck" method="POST" action="{% url 'accounts:signup' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="mainTitle">회원가입</div>

        <div class="name">
            <div id="title">이름</div>
            <input name="username" id="name" type="text" placeholder="홍 길 동" required autofocus>
        </div>

        <div class="birth">
            <div id="title">생년월일</div>
            <input name="birthY" id="birth" type="text" placeholder="19XX" maxlength="4" required>
            <input name="birthM" id="birth" type="text" placeholder="x월" maxlength="2" required>
            <input name="birthD" id="birth" type="text" placeholder="x일" maxlength="2" required>
            
        </div>

        <div class="phoneNum">
            <div id="phone">전화번호</div>
            <input name="phonenum" id="phoneNum" type="text" oninput="#" placeholder="010XXXXXXXX" maxlength="11" required>
        </div>

        <div class="id">
            <div id="nickname">별명</div>
            <input name="nickname" id="id" type="text" onkeyup="checkReg(event)"  placeholder="2글자 이상 별명을 적어주세요" required>
        </div>

        <div class="password">
            <div id="pass">비밀번호</div>
            <input name="password1" id="password" type="password" placeholder="문자+숫자 8자리를 입력해 주세요." required>
        </div>

        <div class="password">
            <div id="pass">비밀번호 확인</div>
            <input name="password2" id="password" type="password" placeholder="비밀번호 확인" required>
        </div>

        <button type="submit" class="agree" id="agree" value="Sign Up">가입하기</button>

         {% for field in registration_form %}
                <p>
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
        {% endfor %}
            {% if registration_form.non_field_errors %}
                <div style="color: red">
                    <p>{{ registration_form.non_field_errors }}</p>
                </div>

            {% endif %}

    </form>
    {% endblock %}
</body>
</html>