<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>배송조회</title>
    <link rel="stylesheet" href="{% static 'css/tracking.css' %}">
</head>
  {% block contents %}
<body>
    <nav class="logo">
        <img src="{% static 'image/logo.png' %}" alt="">
    </nav>

    <form action="" class="main">
        <div class="box" id="ing">
            <p class="title">배송중</p>
            <div class="ingContents">
                <p class="date">7 / 22</p>

                <div class="dropdown">
                    <button onclick="myFunction(event)" class="dropbtn">
                        치악산 복숭아 <img src="{% static 'image/Group 8763.png' %}" alt="">
                    </button>
                    <div id="myDropdown1" class="dropdown-content">
                        <a href="#">고당도 꿀 수박</a>
                        <a href="#">이중미세모 칫솔</a>
                        <a href="#">친환경 감자 800g</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="box" id="done">
            <p class="title">배송완료</p>
            <div class="ingContents">
                <p class="date">7 / 10</p>

                <div class="dropdown">
                    <button onclick="myFunction2(event)" class="dropbtn">
                        치악산 복숭아 <img src="{% static 'image/Group 8763.png' %}" alt="">
                    </button>
                    <div id="myDropdown2" class="dropdown-content">
                        <a href="#">고당도 꿀 수박</a>
                        <a href="#">이중미세모 칫솔</a>
                        <a href="#">친환경 감자 800g</a>
                        <a href="#">고당도 딸기 1팩</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="{% static 'js/tracking.js' %}"></script>
  {% endblock %}
</body>
</html>