<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>즐겨찾기</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/bookmark_page.css' %}" />
	<script type="text/javascript" src="{% static 'js/bookmark_page.js' %}"></script>

    <script>
    const quantities = document.querySelectorAll('.p_num');
    const totalAmountElem = document.getElementById('total_amount');
    const itemCountElem = document.getElementById('item_count');

    // 수량 변경 이벤트 리스너 추가
    quantities.forEach((quantityInput, index) => {
        quantityInput.addEventListener('input', () => {
            updateSummary();
        });
    });

    // 합계 업데이트 함수
    function updateSummary() {
        let totalAmount = 0;
        let itemCount = 0;

        quantities.forEach((quantityInput, index) => {
            const price = parseInt(quantityInput.getAttribute('data-price'));
            const quantity = parseInt(quantityInput.value);
            totalAmount += price * quantity;
            itemCount++;
        });

        totalAmountElem.textContent = totalAmount.toLocaleString() + '원';
        itemCountElem.textContent = itemCount;
    }

    // 초기에 합계 업데이트
    updateSummary();
</script>

</head>
<body>
{% block content %}
  <!--검색창, 로고-->
<a href="{% url 'shop:main' %}"><img src="{% static 'image/logo.png' %}" width="300px" class="logo" ></a><!--로고-->
  <div class="search"> <!--검색창-->
    <form method="get" action="{% url 'search:searchResult' %}">
      {% csrf_token %}
        <input type="text" placeholder="검색할 상품을 입력해 주세요." aria-label="Search" name="q"> <!--입력-->
        <div class="btn">
            <button type="submit"> <!--확인btn-->
                <img src="{% static 'image/searchSubmit.png' %}">
            </button>
            <button type="button">
                <img src="{% static 'image/mic.png' %}" alt="mic">
            </button>
        </div>
    </form>
  </div>

  <!--메인부분-->
    <form name="orderform" id="orderform" method="post" class="orderform" action="/Page" onsubmit="return false;">
            <input type="hidden" name="cmd" value="order">

            <div class="basketdiv" id="basket">
                <div class="row head">
                    <div class="subdiv">
                        <div class="check">선택</div>
                        <div class="img">이미지</div>
                        <div class="pname">상품명</div>
                    </div>
                    <div class="subdiv">
                        <div class="basketprice">가격</div>
                        <div class="num">수량</div>
                        <div class="sum">합계</div>
                    </div>
                    <div class="subdiv">
                        <div class="basketcmd">삭제</div>
                    </div>
                    <div class="split"></div>
                </div>

                {% for product in favorite_products %}
                <!--1번째 상품-->
                <div class="row data">
                    <a href="{{product.get_absolute_url}}">
                    <div class="subdiv">
                        <div class="check"><input type="checkbox" name="buy" value="260" checked="" onclick="javascript:basket.checkItem();">&nbsp;</div>
                        <div class="img"><img src="{{ product.image.url }}" width="80px" alt="{{ product.name }}"></div>
                        <div class="pname">
                            <span>{{ product.name }}</span>
                        </div>
                    </div></a>
                    <div class="subdiv">
                        <div class="basketprice"><input type="hidden" name="p_price" id="p_price{{ forloop.counter }}" class="p_price" value="20000">{{ product.price }}원</div>
                        <div class="num">
                            <div class="updown">
                                <span onclick="javascript:basket.changePNum({{ forloop.counter }});"><i class="fas fa-arrow-alt-circle-up up"></i></span>
                                <input type="text" name="p_num1" id="p_num1" size="2" maxlength="4" class="p_num" value="2" onkeyup="javascript:basket.changePNum({{ forloop.counter }});">
                                <span onclick="javascript:basket.changePNum({{ forloop.counter }});"><i class="fas fa-arrow-alt-circle-down down"></i></span>
                            </div>
                        </div>
                        <div class="sum">{{ product.price }}</div>
                    </div>
                    <div class="subdiv">
                        <div class="basketcmd"><a href="javascript:void(0)" class="abutton" onclick="javascript:basket.delItem();">삭제</a></div>
                    </div>
                </div>
                <!--2번째 상품-->
<!--                <div class="row data">-->
<!--                    <div class="subdiv">-->
<!--                        <div class="check"><input type="checkbox" name="buy" value="261" checked="" onclick="javascript:basket.checkItem();">&nbsp;</div>-->
<!--                        <div class="img"><img src="{% static 'image/product_water.jpg' %}" width="60px"></div>-->
<!--                        <div class="pname">-->
<!--                            <span>아이시스 생수 10묶음</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="subdiv">-->
<!--                        <div class="basketprice"><input type="hidden" name="p_price" id="p_price2" class="p_price" value="19000">19,000원</div>-->
<!--                        <div class="num">-->
<!--                            <div class="updown">-->
<!--                                <span onclick="javascript:basket.changePNum(2);"><i class="fas fa-arrow-alt-circle-up up"></i></span>-->
<!--                                <input type="text" name="p_num2" id="p_num2" size="2" maxlength="4" class="p_num" value="1" onkeyup="javascript:basket.changePNum(2);">-->
<!--                                <span onclick="javascript:basket.changePNum(2);"><i class="fas fa-arrow-alt-circle-down down"></i></span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="sum">19,000원</div>-->
<!--                    </div>-->
<!--                    <div class="subdiv">-->
<!--                        <div class="basketcmd"><a href="javascript:void(0)" class="abutton" onclick="javascript:basket.delItem();">삭제</a></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash;3번째 상품&ndash;&gt;-->
<!--                <div class="row data">-->
<!--                    <div class="subdiv">-->
<!--                        <div class="check"><input type="checkbox" name="buy" value="262" checked="" onclick="javascript:basket.checkItem();">&nbsp;</div>-->
<!--                        <div class="img"><img src="{% static 'image/product_fish.jpg' %}" width="60"></div>-->
<!--                        <div class="pname">-->
<!--                            <span>살이 통통한 갓 잡은 고등어 5묶음</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="subdiv">-->
<!--                        <div class="basketprice"><input type="hidden" name="p_price" id="p_price3" class="p_price" value="15200">15,200원</div>-->
<!--                        <div class="num">-->
<!--                            <div class="updown">-->
<!--                                <span onclick="javascript:basket.changePNum(3);"><i class="fas fa-arrow-alt-circle-up up"></i></span>-->
<!--                                <input type="text" name="p_num3" id="p_num3" size="2" maxlength="4" class="p_num" value="1" onkeyup="javascript:basket.changePNum(3);">-->
<!--                                <span onclick="javascript:basket.changePNum(3);"><i class="fas fa-arrow-alt-circle-down down"></i></span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="sum">15,200원</div>-->
<!--                    </div>-->
<!--                    <div class="subdiv">-->
<!--                        <div class="basketcmd"><a href="javascript:void(0)" class="abutton" onclick="javascript:basket.delItem();">삭제</a></div>-->
<!--                    </div>-->
<!--                </div>-->
                {% empty %}
                <div>즐겨찾기한 상품이 없습니다.</div>
                {% endfor %}
            </div>
 <button type="submit" class="abutton">선택상품 업데이트</button>
        <a href="javascript:void(0)" class="abutton" onclick="javascript:basket.delCheckedItem();">선택상품삭제</a>
        <a href="javascript:void(0)" class="abutton" onclick="javascript:basket.delAllItem();">즐겨찾기비우기</a>
    </div>
    <div class="bigtext right-align sumcount" id="sum_p_num">상품갯수: <span id="item_count">0</span>개</div>
    <div class="bigtext right-align box blue summoney" id="sum_p_price">합계금액: <span id="total_amount">0</span>원</div>
    </form>
{% endblock %}
</body>
</html>