<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>곰살마트 : 회원가입</title>
    <link rel="stylesheet" href="{% static 'css/signUp.css' %}">

</head>
<body>
    <script src="{% static 'js/signUp.js' %}"></script>


    <nav class="logo">
        <img src="{% static 'image/곰살마트_페이지로고.png' %}" alt="logo">
    </nav>

  

    <form class="signUp" name="formcheck" method="POST">
        <div id="mainTitle">회원가입</div>

        <div class="name">
            <div id="title">이름</div>
            <input id="name" type="text" placeholder="홍 길 동">
        </div>

        <div class="birth">
            <div id="title">생년월일</div>
            <input id="birth" type="text" placeholder="19XX" maxlength="4">
            <input id="birth" type="text" placeholder="x월" maxlength="2">
            <input id="birth" type="text" placeholder="x일" maxlength="2">
            
        </div>

        <div class="phoneNum">
            <div id="phone">전화번호</div>
            <input id="phoneNum" type="text" oninput="autoHyphen(this)" placeholder="010-XXXX-XXXX" maxlength="13" >
        </div>

        <div class="id">
            <div id="nickname">별명</div>
            <input id="id" type="text" onkeyup="checkReg(event)"  placeholder="2글자 이상 별명을 적어주세요" >
        </div>

        <div class="password">
            <div id="pass">비밀번호</div>
            <input id="password" type="text" placeholder="숫자 6자리를 입력해 주세요." maxlength="6">
        </div>

        <button class= agree id="agree" onclick="formCheck()">가입하기</button>

    </form>

</body>
</html>